.bill,
.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

input {
  height: 2rem;
  width: 179px;
}

p {
  font-size: 1.5rem;
}

select,
option {
  box-sizing: border-box;

  height: 2rem;
}
